.MessageMain {
    margin: 0 auto;
    height: auto;
    width: 92%;
    border-radius: 25px;
    background: #ffffff;
    margin-bottom: 15px;
}

.MessageUsernameDiv {
    padding-top: 15px;
    margin: 0 auto;
    width: 90%;
    
}

.MessageUsername {
    color: #164e8d;
    padding-left: 10px;
}

.MessageContent {
    margin: 0 auto;
    hyphens: auto;
    margin-top: 5px;
    padding-bottom: 22px;
    width: 85%;
}

.MessageTimestamp {
    color: rgb(143, 143, 143);
    margin: 0 auto;
    width: 90%;
    padding-bottom: 20px;
}